# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# System Files
.DS_Store
Thumbs.db

# Ignore the Flask project directory
flask_project/

# Ignore the directory containing the Streamlit app if needed
Physio Assignment Platform/